/* FONTS */
.kumbh-sans-400 {
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "YOPQ" 300;
}

.kumbh-sans-700 {
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "YOPQ" 300;
}


/* GENERAL */
p,
a {
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

p {
    font-size: 16px;
}


/************
    CODE
************/
/* NAV */
nav {
    align-items: center;
    justify-content: center;
}

#nav-figure {
    width: 10%;
}

#nav-figure>img:hover {
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 50%;
    cursor: pointer;
}

#navbarNav {
    display: flex;
    align-items: center;
}

hr {
    width: 80%;
    border-color: hsl(219, 9%, 45%);
}


/* CONTAINER */
.container {
    max-width: 1080px;
}


/* IMGS-CONTAINER */
.container .imgs-container>figure {
    width: 70%;
}

.container .imgs-container figure>img {
    width: 100%;
}

.container .imgs-container ul>li {
    width: 12%;
}

.container .imgs-container ul li>img {
    width: 100%;
}


/* PRODUCT INFOS (CONTAINER) */
.product-infos-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
}

.product-infos-container>.sneakers-company {
    letter-spacing: 0.2rem;
    color: hsl(219, 9%, 45%);
    font-size: 14px;
}

.og-price {
    color: hsl(219, 9%, 45%);
}


/* QUANTITY BTN */
#quantity {
    background-color: hsl(223, 64%, 98%);
}

#minus,
#plus {
    background-color: hsl(223, 64%, 98%);
    border: 1px solid hsl(223, 64%, 98%);
}

/*Icons*/
.bi-dash,
.bi-plus {
    color: hsl(26, 100%, 55%);
    -webkit-text-stroke: 2px;
    padding: 0px 30px 0px 30px;
}

.bi-dash:hover,
.bi-plus:hover {
    color: hsl(28, 100%, 71%);
}


/* ADD TO CART BTN */
#add-to-cart {
    background-color: hsl(26, 100%, 55%);
    border: 1px solid hsl(26, 100%, 55%);
    padding: 15px 75px 15px 75px;
    margin-left: 1rem;
}

#add-to-cart:hover {
    background-color: hsl(28, 100%, 71%);
    border: 1px solid hsl(28, 100%, 71%);
}


/* ACTIVE IMG */
.active-style {
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 0.6rem;
    position: relative;
    display: inline-block;
}

.active-style:after {
    content: "";
    border-radius: 0.5rem;
    background: rgb(255, 237, 224, .5);
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    bottom: 0;
}


/* Hover */
.products-imgs-small>li {
    position: relative;
}

.products-imgs-small li>img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 1;
    backface-visibility: hidden;
}

.products-imgs-small li>img:after {
    opacity: 0;
    background: rgb(255, 237, 224, 1);
}

.products-imgs-small li:hover img {
    cursor: pointer;
    opacity: 0.5;
}



/*** CAROUSEL ***/
#carousel-container {
    position: relative;
    top: 0;
    bottom: 0;
    z-index: 99;
    display: none;
}

.carousel-imgs-small>li {
    position: relative;
}

.carousel-imgs-small li>img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 1;
    backface-visibility: hidden;
}

.carousel-imgs-small li>img:after {
    opacity: 0;
    background: rgb(255, 237, 224, 1);
}

.carousel-imgs-small li:hover img {
    cursor: pointer;
    opacity: 0.5;
}